html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
    background-color: #000;
  
}


#page {
  background-color: #000;
  color: #fff;
  height: 100%;
  position: relative;
  width: 100%;
}

#container {
  width: 100%;
  height: 100%;  
}

#content-text {
  font-weight: bold;
  font-size: 26px;
  margin: 0px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.dias {
  font-size: 24px;
  font-weight:normal;
  margin-left: 47px;

    
  
}
.AM {
    color: #bd96b5;
      font-weight: bold;
    
}
.AT {
    color: #a7709a;
      font-weight: bold;
    
}
.FT {
    color: #5cc3ca;
      font-weight: bold;
    
}
.FM {
    color: #97cbc9;
      font-weight: bold;
    
}
.M {
    color: #94cbac;
      font-weight: bold;
    
}
.T {
    color: #01ba89;
      font-weight: bold;
    
}
.L {
    color: #ffc983;
      font-weight: bold;
    
}
.D {
    color: #c5c5c5;
      font-weight: bold;
    
}
.C {
    color: #7fb3b3;
      font-weight: bold;
    
}

